<section class="section section--taxonomy">
    <div class="container">
        <div class="taxonomy">
            <a href="{{ get_url(path='@/blog/_index.md') }}" class="taxonomy__link {% if current_path == '/blog/' %}taxonomy__link--active{% endif %}">
                All Articles
            </a>
            
            {% set categories = get_taxonomy(kind="categories") %}
            {% for category in categories.items %}
                <a href="{{ category.permalink }}" class="taxonomy__link {% if current_url == category.permalink %}taxonomy__link--active{% endif %}">
                    {{ category.name }} ({{ category.pages | length }})
                </a>
            {% endfor %}
        </div>
    </div>
</section>