{{ define "top" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Jesse Works</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/_static/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/"><h1 id="site-title">Jesse Works</h1></a>
    </header>
    {{ end }}

    {{ define "bot" }}
    <footer>
      <a href="mailto:jesse@jessebmiller.com">jesse@jessebmiller.com</a>
      <a target="_blank" href="_static/jesse-b-miller-resume.pdf">Resumé</a>
      <a target="_blank" href="https://www.linkedin.com/in/jessebmiller/">LinkedIn</a>
    </footer>
  </body>
</html>
{{ end }}
