<section class="contact-content">
  <div class="content-container">
    <div class="content-text">
      {{ section.content | safe }}
    </div>
    <div class="contact-methods">
      <a href="mailto:{{ config.extra.email }}" class="nav-cta">
        Send an Email
      </a>
      <a href="https://linkedin.com/in/{{ config.extra.linkedin }}" class="secondary-button">
        LinkedIn Profile
      </a>
      <a href="https://github.com/{{ config.extra.github }}" class="secondary-button">
        GitHub Profile
      </a>
    </div>
  </div>
</section>
