<div class="card card--project">
    <div class="card__image" style="background-color: var(--color-{{ project.taxonomies.project_types[0] }})">
        <div class="card__grid">
            {% for i in range(end=48) %}
                <div class="card__cell"></div>
            {% endfor %}
        </div>
        <div class="card__tag-container">
            <span class="tag tag--project">
                {{ project.taxonomies.project_types[0] | capitalize }}
                {% if project.taxonomies.project_types[0] == "b2b" %}
                    Solution
                {% elif project.taxonomies.project_types[0] == "consumer" %}
                    Product
                {% else %}
                    Tool
                {% endif %}
            </span>
        </div>
    </div>
    <div class="card__content">
        <h3 class="card__title">{{ project.title }}</h3>
        <p class="card__description">
            {{ project.extra.short_desc }}
        </p>
        <div class="card__tags">
            {% for tag in project.taxonomies.tags %}
                <span class="tag tag--tech">{{ tag }}</span>
            {% endfor %}
        </div>
        <div class="card__footer">
            <span class="card__year" style="color: var(--color-{{ project.taxonomies.project_types[0] }})">{{ project.extra.year }}</span>
            <a href="{{ project.permalink }}" class="card__link card__link--action">View Case Study →</a>
        </div>
    </div>
</div>